.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

.auth-box-container {
  display: flex;
  justify-content: center;
  padding-top: 18vh;
}

.auth-box {
  display: flex;
  flex-direction: column;
  height: 55vh;
  width: 33vw;
  padding: 5vh 5vw;
  justify-content: space-around;
  align-items: center;
  background-color: #FF70A6;
  color: white;
  border-radius: 10px;
  box-shadow: black;
}

.input-container {
  display: flex;
}

.input-box {
  height: 3vh;
  margin-top: 2vh;
}

h1 {
  font-size: 10vh;
}

.button1 {
  background-color: #403D39;
  color: white;
  height: 5vh;
  padding: 10px;
  margin: 10px;
}